# richyen edits
alias src="source ${HOME}/.bashrc"
alias yp="echo ${YUMPASSWORD}"
alias bp="vim ${HOME}/.bash_profile"
alias ali="vim ${HOME}/.aliases"
alias di="docker images"
alias dpa="docker ps -a"
alias dr="docker run -it -v ${PWD}:/docker"
alias dx="docker exec -it"
alias dspf="docker system prune -f"
alias dvpf="docker volume prune -f"
alias tb="cd ${GITHUB}/toolbox"
alias ess="cd ${EDB_CODE}/edb-support-services"
alias asv="cd ${EDB_CODE}/automated-solution-verification"
alias mar="cd ${EDB_CODE}/marathon"
alias fnd="cd ${EDB_CODE}/foundry"
alias awsv="vim ${HOME}/.aws_token"
alias awsx="source ${HOME}/.aws_token"
