#!/usr/bin/env bash

# Connect to NAS server
function nas() {
  ssh -p${NAS_SSH_PORT} richyen@${NAS_HOST}
}

# Clone a git repo
function egc() {
  if [[ "x${1}" == 'x' ]]; then
    echo "missing repository name"
  else
    git clone git@github.com:EnterpriseDB/${1}.git
  fi
}

# Pull a Docker container from registry and tag it without the registry URL
function dp() {
  IMG_OS="centos7"
  IMG_SVC=${1}

  if [[ "x${2}" != 'x' ]]; then
    IMG_OS=${1}
    IMG_SVC=${2}
  fi

  if [[ ! ${IMG_SVC} =~ ':' ]]; then
    IMG_SVC="${IMG_SVC}:latest"
  fi

  docker pull ${DOCKER_REGISTRY_HOST}:${DOCKER_REGISTRY_PORT}/${IMG_OS}/${IMG_SVC}
  if [[ ${?} -eq 0 ]]; then
    docker tag ${DOCKER_REGISTRY_HOST}:${DOCKER_REGISTRY_PORT}/${IMG_OS}/${IMG_SVC} ${IMG_OS}/${IMG_SVC}
    docker rmi ${DOCKER_REGISTRY_HOST}:${DOCKER_REGISTRY_PORT}/${IMG_OS}/${IMG_SVC}
  else
    echo "encountered error pulling Docker image"
  fi
}
