# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Terraform artifacts
tf/.terraform/
*.pem
tf/servers.yml
*.tfstate*
**/.terraform.lock.hcl
